<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749484259272-uingk657t6fbj8lio91jv1vd7n2ikfqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749484259272-uingk657t6fbj8lio91jv1vd7n2ikfqe</string>
	<key>API_KEY</key>
	<string>AIzaSyDf2NaEtT-Q6WvX662VnFF_dpXfPB9hw2c</string>
	<key>GCM_SENDER_ID</key>
	<string>749484259272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.zhangt4.MovieQuotes2</string>
	<key>PROJECT_ID</key>
	<string>ios-sprint-2020-movie-quotes</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sprint-2020-movie-quotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749484259272:ios:22a57089c4b96e6476b2fd</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sprint-2020-movie-quotes.firebaseio.com</string>
</dict>
</plist>